div{
  text-decoration: none;
  color: $white;
  margin: 0;
  .colorM{
    background-color: $blue;
    text-decoration: none;
    div{
      font-family: $worksans;
      font-weight: 600;
      text-decoration: none;
      font-size: 1.1em;
    }
    #home:hover{
      color: $white;
      text-decoration: underline;
    }
    #hotels:hover{
      color: $white;
      text-decoration: underline;
    }
    #contact:hover{
      color: $white;
      text-decoration: underline;
    }
    .login:hover{
      color: $white;
      text-decoration: underline;
    }
    #home:active{
      text-decoration: underline;
      color: $orange;
    }
    #hotels:active{
      text-decoration: underline;
      color: $orange;
    }
    #contact:active{
      text-decoration: underline;
      color: $orange;
    }
    .login:active{
      text-decoration: underline;
      color: $orange;
    }
  }
}


.searchbar{
  color: $blue;
  border: solid 1px $blue;
  background-color: $white;
  font-family: $worksans;
}

.search{
  color: $blue;
  border: solid 1px $blue;
  background-color: $white;
  font-family: $worksans;
}

.search:hover{
  color: $orange;
  border: solid 1px $orange;
}
.search:active{
  color: $orange;
  border: solid 1px $orange;
  text-decoration: underline;
}

.holidaze{
  height: 2.5em;
  padding: 2em, 0;
  margin: 0;
 }
 
