div{
  text-decoration: none;
  color: $white;
  .colorM{
    background-color: $blue;
    text-decoration: none;
    div{
      font-family: $worksans;
      font-weight: 600;
      text-decoration: none;
    }
    #home:hover{
      color: $white;
      text-decoration: underline;
    }
    #hotels:hover{
      color: $white;
      text-decoration: underline;
    }
    #contact:hover{
      color: $white;
      text-decoration: underline;
    }
    #home:active{
      text-decoration: underline;
      color: $orange;
    }
    #hotels:active{
      text-decoration: underline;
      color: $orange;
    }
    #contact:active{
      text-decoration: underline;
      color: $orange;
    }
  }
}





/*

nav{ //Bakgrunnsfargen til menyen
  background-color: $darkBlue; 
}
.navbar-light .navbar-brand{ //Fargen til brand/logo i menyen
  color: $white;
  font-family: $iceland;
}
.navbar-light .navbar-nav .nav-link { //Tekstfargen i menyen
  color: $white;
  font-family: $iceland;
}

.navbar-light .navbar-brand:hover{ //Hover brand/logo
  color: $lightBlue;
  font-family: $iceland;
}

*/