
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
$worksans: 'Work Sans', sans-serif;




h1{
  font-size: 2em;
  font-family: $worksans;
  color: $blue;
}
h2{
  font-size: 1.6em;
  font-family: $worksans;
  color: $blue;
}
h3{
  font-size: 1.2em;
  font-family: $worksans;
  color: $blue;
}
h4{
  font-size: 1em;
  font-family: $worksans;
  color: $blue;
}
p{
  font-size: 0.8em;
  font-family: $worksans;
  color: $blue;
}
b{
  font-family: $worksans;
  color: $blue;
  font-size: 1em;
  font-weight: 500;
}
