@import "~bootstrap/scss/bootstrap";
@import "partials/_color.scss";
@import "partials/_text.scss";
@import "partials/_menu.scss";



main{
  margin: 0 10%;
  background-color: $white;
  min-height: 100%;
  padding: 2% 4%;
}

.bodycolor{
  background-color: $orange;
}
