//@import "~bootstrap/scss/bootstrap";
@import "partials/_color.scss";
@import "partials/_text.scss";
@import "partials/_menu.scss";
@import "partials/_buttons.scss";
@import "partials/footer.scss";


main{
  margin: 0 10%;
  background-color: $white;
  padding: 2% 4%;
  border: solid 3px $blue;
  min-height: 900px ;
}

.bodycolor{
  background-color: $orange;
}

body{
  min-height: 900px;
}

.frame{
  margin: 1em 0;
  padding: 1em;
  border: solid 3px $blue;
}
.tframe{
  padding: 2em;
}
.hframe{
  margin: 1em;
  padding: 2em 1em;
  border: solid 3px $blue;
}


.dtg{
  padding: 0.4em;
  margin: 0.5em 1em 1em 0;
}

div{
  input{
    margin: 0.5em 0em ;
  }
  button{
    margin: 0.5em 0em ;
  }
  textarea{
    margin: 0.5em 0em ;
  }
}
